<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p><strong>Hola dime a quien saludar</strong></P>
      <form class="" action="/saludar" method="post">
        <input type="text" name="saludo" id="saludo" >
        <button type="subtmit" name="button">¡Hola!</button>
      </form>
  </body>
</html>
